name: Depot Upload Test

on:
  workflow_dispatch:

permissions:
  id-token: write
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Get OIDC token
      id: oidc
      uses: actions/github-script@v7
      with:
        script: core.setOutput('token', await core.getIDToken('https://depot-manager.neoforged.net'))
    - name: Query API
      run: |
        echo "Hello World!" > test.txt
        curl --fail -T test.txt -H "Authorization: Bearer ${DEPOT_MANAGER_TOKEN}" https://depot-manager.neoforged.net/test.txt
      env:
        DEPOT_MANAGER_TOKEN: "${{ steps.oidc.outputs.token }}"
